* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boxed {

    justify-content: center;
    align-items: center;

}


#woman-man-child {

    display: flex;

    gap: 10px;
}



.top-navbar {
    display: flex;
    height: 60px;
    min-width: 100%;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
    background-color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

    position: fixed;
    z-index: 9999;
}

img {

    display: flex;
    position: relative;


    scale: 100%;
    align-items: flex-start;
}

#bag-man-heart {
    display: flex;

    gap: 10px;

}

.cards-top-container {

    bottom: 130px;
    gap: 35px;
    scale: 50%;
    position: relative;
    display: flex;

    justify-content: center;
    flex-wrap: nowrap;
}

.cards-bottom-container {
    bottom: 32em;
    scale: 50%;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 35px;
}

#green-dress {

    width: 640px;
    height: 924px;
}

.bottom-navbar {
    display: flex;
    background-color: black;
    color: white;
    height: 80px;
    gap: 15em;
    justify-content: space-around;
    align-items: center;



    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



main {

    max-height: 75em;

}



.info-container {

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
   
    gap: 5px;
}