* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boxed {

    justify-content: center;
    align-items: center;

}


#woman-man-child {

    display: flex;

    gap: 10px;
}



.top-navbar {
    display: flex;
    height: 60px;
    min-width: 100%;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
    background-color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

    position: fixed;
    z-index: 9999;
}

img {

    display: flex;
    position: relative;


    scale: 100%;
    align-items: flex-start;
}

#bag-man-heart {
    display: flex;

    gap: 10px;

}

.cards-top-container {

    bottom: 130px;
    gap: 35px;
    scale: 50%;
    position: relative;
    display: flex;

    justify-content: center;
    flex-wrap: nowrap;
}

.cards-bottom-container {
    bottom: 32em;
    scale: 50%;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 35px;
}

#green-dress {

    width: 640px;
    height: 924px;
}

.bottom-navbar {
    display: flex;
    background-color: black;
    color: white;
    height: 80px;
    gap: 15em;
    position: relative;





    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



main {

    max-height: 75em;

}



.info-container {


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    display: flex;
    position: relative;
    right: 52em;
    top: 40px;
    gap: 5px;
    max-height: 8px;
    min-width: 35em;
}

#colored-link-legal {

    color: white;
}

#colored-link-privacy {

    color: white;
}

#colored-link-recess {

    color: white;
}


#company-name {

    display: flex;
    position: relative;
    top: 20px;
    left: 16.2em;
    max-height: 8px;
    min-width: 150px;
}

#social {
    display: flex;
    position: relative;
    top: 20px;
    left: 46em;
    max-height: 8px;
    min-width: 150px;
}


.social-links {

    display: flex;
    position: relative;
    max-width: 30px;
    top: 45px;
    right: 210px;

}

.top-left-card-container {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    position: relative;
    bottom: 335px;
    left: 135px;

}

#marca-top-left {

    display: flex;
    position: relative;
    bottom: 20px;
    left: 130px;

}

#descrizione-top-left {

    font-weight: bold;
    display: flex;
    position: relative;
    left: 88px;
    bottom: 5px;

}

#prezzo-top-left {
    display: flex;
    position: relative;
    right: 42px;
    color: crimson;
    top: 10px;
    left: -22px;

}

.top-center-card-container {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    position: relative;
    bottom: 335px;
    left: 135px;

}

#marca-top-center {

    display: flex;
    position: relative;
    bottom: 20px;

}

#descrizione-top-center {

    font-weight: bold;
    display: flex;
    position: relative;
    right: 42px;


}

#prezzo-top-center {
    display: flex;
    position: relative;
    right: 42px;
    color: crimson;
    top: 20px;
    right: 150px;

}

.top-right-card-container {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    position: relative;
    bottom: 335px;
    left: 135px;

}

#marca-top-right {

    display: flex;
    position: relative;
    bottom: 20px;

}

#descrizione-top-right {

    font-weight: bold;
    display: flex;
    position: relative;
    right: 42px;


}

#prezzo-top-right {
    display: flex;
    position: relative;
    right: 42px;
    color: crimson;
    top: 20px;
    right: 150px;

}

.bottom-left-card-container {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    position: relative;
    bottom: 335px;
    left: 135px;

}

#marca-bottom-left {

    display: flex;
    position: relative;
    bottom: 20px;

}

#descrizione-bottom-left {

    font-weight: bold;
    display: flex;
    position: relative;
    right: 42px;


}

#prezzo-bottom-left {
    display: flex;
    position: relative;
    right: 42px;
    color: crimson;
    top: 20px;
    right: 150px;

}

.bottom-center-card-container {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    position: relative;
    bottom: 335px;
    left: 135px;

}

#marca-bottom-center {

    display: flex;
    position: relative;
    bottom: 20px;

}

#descrizione-bottom-center {

    font-weight: bold;
    display: flex;
    position: relative;
    right: 42px;


}

#prezzo-bottom-center {
    display: flex;
    position: relative;
    right: 42px;
    color: crimson;
    top: 20px;
    right: 150px;

}

.bottom-right-card-container {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: flex;
    position: relative;
    bottom: 335px;
    left: 135px;

}

#marca-bottom-right {

    display: flex;
    position: relative;
    bottom: 20px;

}

#descrizione-bottom-right {

    font-weight: bold;
    display: flex;
    position: relative;
    right: 42px;


}

#prezzo-bottom-right {
    display: flex;
    position: relative;
    right: 42px;
    color: crimson;
    top: 20px;
    right: 150px;

}


#green-label-top-left-card {

    position: absolute;
    z-index: 9999;
    background-color: rgb(15, 145, 6);
    display: flex;
    left: -4.3em;
    top: 28em;
    max-height: 50px;
    min-width: 200px;
    color: white;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
}

#orange-label-top-left-card {

    position: absolute;
    z-index: 9999;
    background-color: rgb(252, 80, 6);
    display: flex;
    left: -8.6em;
    top: 28em;
    max-height: 50px;
    min-width: 100px;
    color: white;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
}